body{
    
}
#header{
    text-align: right;
}
.header{
    display: inline-block;
    
}
.header kbd{
    letter-spacing: 14px;
    background-color: #1fc0c7;
}
#header h1{
    box-shadow: 1px 5px #ceb7b7;
}
.w3-ul li{
    letter-spacing: 3px;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#downloadcv{
    float: left;
    font-size: 17px;
    margin-top: 10px;
}
